*{
	font-family: 'Archivo', sans-serif;
	margin: 0;
	font-size: 20px;
}

.nav{
	width: 100vw;
	height: 10vh;
	background-color: yellow;
	position: fixed;
}

#button1{
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	font-size: 2rem;
	color: white;
}

.dropDownContent {
	display: none;
	background-color: yellow; 
	width: 100vw;
}

.dropDownContent a {
	margin-left: 0.5rem;
	line-height: 40px;
  	color: black;
 	text-decoration: none;
 	display: block;
  	text-align: left;
}

.dropDown:hover .dropDownContent {
	display: block;
}
